*{
    margin: 0;
    padding: 0;
}
.login-logo{
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

.login-logo > img {
    width: 300px;
    height: 92px;
}


.loginBox .el-tabs__nav-wrap::after {
    background-color: transparent;
}
.loginBox .el-tabs{
    width: 80%;
    text-align: center;
    margin: auto;
}
.loginBox .el-tabs__header {
    display: inline-block;
    margin-bottom: 40px;
}
.loginBox .el-tabs__item{
    font-size: 26px;
    padding: 0;
    color: #0266ab;
}
.loginBox .el-tabs__item:nth-of-type(2){
    margin-right: 100px;
}
.loginBox .el-tabs__active-bar {
    display: none;
}
.loginBox .is-active {
    border-bottom: 1px solid #0266ab;
}
.loginBox .el-input__inner {
    padding: 30px 0;
    text-indent: 20px;
    border: 2px solid #dcdfe6;
}
.loginBox .el-form-item {
    margin-bottom: 40px;
}
.loginBox .el-button {
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 30px;
    background-color: #0266ab;
}