.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 85%;
}
.form .form-control {
    margin-top: 20px;
}
.control-input {
    width: 100%;
    line-height: 46px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 10px;
}
.control-input:focus {
    border-color: #0089dc;
}
.log-btn {
    margin-top: 10px;
}
.switch-btn {
    width: 40px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    right: 10px;
    top: 15px;
}
.switch-btn > span {
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: #fff;
    transition: .4s ease;
}
.slide > span {
    left: 23px;
}