.shoplist {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: -1px;
}
.shoplist .shop-img {
    width: 90px;
    height: 70px;
    margin-right: 15px;
}
.shoplist .shop-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}
.shop-info .shop-name {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

.shop-info .rate {
    display: flex;
    align-items: center;
}

.shop-info > p:nth-child(1) {
    margin-bottom: 8px;
}

.shoplist .amount {
    margin: -7px 0 0 7px;
}
.index-line-2x {
    display: flex;
    justify-content: space-between;
}